@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Info= All this elements you need when you begin to made a web site */
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

:root{
    --main_color: rgb(250, 250, 250);
    --underline_color: rgb(71, 77, 255);
}

/* Info=When we want generalize of elements on our page, they must appear BEFORE the "body"!! */
li{
    list-style: none;
}

p {
    font-size: 0.8rem;
}

h6{
    font-size: 32px;
    display: none;
}

body{
    /* Info=Whatever happen, the "body" must always have a min-height of 100vh*/
    min-height: 100vh;
    background: rgb(30, 30, 30);
    color: var(--main_color);
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#modem{
    /* Emergency Info=When we talk in percentage, we mean ALWAYS about of the parent of our element!!!! */
    width: 100%;
}

.main-right{
    width: 50%;
}

.main-left{
    display: flex;
    align-items: center;
    width: 50%;
}

h3{
    font-size: 5rem;
}

.main-left-container > h4{
    color: var(--underline_color);
    font-size: 1.8rem;
}

main{
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
}

footer{
    display: flex;
    background: rgb(10, 10, 10);
    border-radius: 10px;
}

.footer_left{
    width: 33%;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    border: none;
    background: var(--underline_color);
    color: var(--main_color);
    width: 150px;
    /* WARNING= padding ≠ width & height. padding="Extra distance ON TOP OF THAT original size" ≠ width/height="IT'S  original size" at the bottom */
    padding: 10px 0;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px;
}

button:hover{
    cursor: pointer;
}

.footer_right{
    width: 67%;
}

.investors{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.investors-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Emergency Info=If an element doesn't take all place of his parent... Like at the bottom, have the idea of  making a width to 100% */
    width: 100%;
}

.investors-container > img{
    height: 60px;
}

/* Useful Info= When we use '(min-width:)' instead of '(max-width:)' it is named "Mobile First". It's simply the opposite to pass of the PC for Phone :) */
@media screen and (max-width: 1019.5px){
    
    h1{
        display: none;
    }
    
    h6:first-of-type{
        display: block;
    }

    p{
        font-size: 0.7rem;
    }

    .main-left-container > h3{
        font-size: 2.5rem;
    }
    
    .main-left-container > h4{
        font-size: 1rem;
    }

}

@media screen and (max-width: 630px){
    
    h6:first-of-type{
        display: none;
    }

    h6:last-of-type{
        display: block;
        font-size: 1.5rem;
    }

    nav > ul{
        width: 70%;
    }

}